<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Máquina <?php echo exec('hostname'); ?></title>
</head>
<body>
    <a href="http://{{ default_domain }}">Máquina {{ default_domain }}</a>
    <?php 
        echo  "Lista de hosts: <br />";
        {% for host in domains %}
            echo '<a href="http://{{ default_domain }}">{{ host }}</a><br />';
        {% endfor %}
    ?>
</body>
</html>