server {
	listen 80;
	listen [::]:80;

	listen 443 ssl;
	listen [::]:443 ssl;

	ssl_session_cache shared:SSL:10m;
	ssl_session_timeout 5m;

	ssl_certificate      /etc/letsencrypt/live/{{ item }}/fullchain.pem;
	ssl_certificate_key  /etc/letsencrypt/live/{{ item }}/privkey.pem;

	root /var/www/{{ item }};
	index index.php index.html;

	server_name www.{{ item }} {{ item }};

	error_page 404 /404.php;

	location / {
		try_files $uri $uri/ =404;
	}

	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/run/php/php{{ php_version.stdout }}-fpm.sock;
	}
	
	location ~ /\.ht {
		deny all;
	}
}